@import url(https://fonts.googleapis.com/css?family=Montserrat);

:root {
	--darkblue: #355070;
	--darkpurple: #6D597A;
	--faintred: #B56576;
	--yellow: #fffa71;
}

.main-header {
	color: var(--yellow);
	width: 100%;
	text-align: center;
	padding: 5px;
	background-color: var(--darkblue);
	margin-top: 30px;
	margin-bottom: 60px;
	text-transform: uppercase;
}

/*basic reset*/
* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	/*Image only BG fallback*/

	/*background = gradient + image pattern combo*/
	background:
		linear-gradient(var(--darkblue), #6D597A);
		background-attachment: fixed;

}

body {
	font-family: montserrat, arial, verdana;
}

/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}

#msform fieldset {
	background: var(--darkblue);
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 30% 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 20% 10%;

	/*stacking fieldsets above each other*/
	position: relative;
}

.hidden {
	display: none;
}

/* Hide all except first fieldset
#msform fieldset:not(:first-of-type) {
	display: none;
	/*Show only the first fieldset/question*/

#prompt4 {
	color: white;
}

.user-input {
	padding: 10px;
	display: inline-block;
	font-size: 18px;
	border-radius: 50px;
	height: 40px;
	border: solid 1px var(--faintred);
	color: white;
	background-color: #f6f6f60b;
	width: 100%;
	margin-bottom: 20px;
}

/*inputs*/
#msform input,
#msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}

/*buttons*/
#msform .action-button {
	width: 100px;
	background: #B56576;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
	text-decoration: none;
	font-size: 14px;
	border-radius: 50px;
}

#msform .action-button:hover,
#msform .action-button:focus {
	background-color: var(--yellow);
	color: var(--darkblue);
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	margin-bottom: 30px;
}

.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}


/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	width: 100%;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}

#progressbar li {
	list-style-type: none;
	color: var(--yellow);
	text-transform: uppercase;
	font-size: 12px;
	width: 25%;
	float: left;
	position: relative;
	text-align: center;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 40px;
	height: 40px;
	align-items: center;
	justify-content: center;
	line-height: 30px;
	display: flex;
	font-size: 20px;
	background: #6D597A;
	border-radius: 40px;
	border: white 1px solid;
	margin: 0 auto 5px auto;
	margin-bottom: 10px;
	text-align: center;
}



/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 1px;
	background: rgb(255, 255, 255);
	color: white;
	position: absolute;
	left: -50%;
	top: 21px;
	z-index: -1;
	/*put it behind the numbers*/
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}


/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
	background: var(--yellow);
	color: var(--darkblue);
}


:before {
	background-color: #27AE60;
}

.min-length {
	padding: 10px;
	color: white;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.movie-slider::-webkit-slider-thumb {
	background: var(--faintred);

}

#user-length.slider {
	border: none;
	background-color: #f6f6f60b;
}

/*-----------------------------------------------Results CSS-------------------------------------------*/

.results-page {
	font-family: sans-serif;
	display: flex;
	align-items: top;
	justify-content: left;
}

/*Filters area on the left side*/
aside {
	width: 20%;
	height: 97vh;
	padding: 15px;
	background-color: var(--darkblue);
	color: white;
	position: fixed;
	display: inline-block;
	justify-content: center;
	text-align: center;
	box-shadow: 5px 0px 20px #141b22;
}

.aside-header {
	text-align: center;
	font-size: 32px;
	font-weight: 100;
	color: var(--yellow);
	width: 20vw;
	background-color: var(--darkblue);
	margin-top: 30px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.start-over-btn {
	min-width: 120px;
	height: 4vh;
	border: var(--faintred);
	border-radius: 30px;
	display: inline-block;
	color: white;
	background-color: var(--faintred);
	margin: 1vh;
}

.current-filters {
	padding-bottom: 25px;
	text-align: left;
}

.current-filters:hover {
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 20px;
}

.saved-search:hover {
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 20px;
}

.start-over-btn:hover {
	background-color: var(--yellow);
	color: var(--darkblue);
}

/*text 'Filter'*/

.filters {
	font-size: 20px;
	margin-top: 30px;
	padding: 20px;
	padding-left: 2vw;
}

/*Genre and Decade text and selectors*/

.results-field-selector {
	text-align: left;
	width: 100%;
	display: block;
	padding: 10px;
}

/*Buttons for previous searches*/

.saved-search {
	margin-top: 25px;
}

.saved-search button {
	width: 80%;
	height: 4vh;
	border: var(--faintred);
	border-radius: 30px;
	display: inline-block;
	color: white;
	background-color: var(--faintred);
	margin: 1vh;
}


.saved-search button:hover {
	background-color: var(--yellow);
	color: var(--darkblue);
}


/*----------------Styling Slider----------------*/
.slidecontainer .slider[type="range"] {
	-webkit-appearance: none;
	/*getting rid of the default appearance*/
}

.slidecontainer .slider[type="range"]:focus {
	outline: none;
	/*getting rid of the default appearance*/
}

/*styling the track*/
.slidecontainer .slider[type="range"]::-webkit-slider-runnable-track {
	background: var(--darkpurple);
	height: 2px;
}

.slidecontainer .slider[type="range"]::-moz-range-track {
	background: var(--darkpurple);
	height: 5px;
}

/*styling the thumb*/
.slidecontainer .slider[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	background: var(--yellow);
	margin-top: -5px;
	border: solid var(--yellow) 3px;
	border-radius: 20px;
	position: relative;
	top: -4px;
}

.slidecontainer .slider[type="range"]::-moz-range-thumb {
	height: 15px;
	width: 15px;
	background: var(--yellow);
	margin-top: -5px;
	border: solid var(--yellow) 3px;
	border-radius: 50%;
}

.results-field-selector option {
	background-color: #27AE60;
}
option {
    background-color: #B56576;
    padding-right: 20px;
    font-size: 18px;
}

/*-----------------------------------------------Movie CSS-------------------------------------------*/
.movie {
	display: flex;
	flex: 1;
	background: #141b22;
}

.movie img {
	border-right: solid 5px var(--darkpurple);
	height: 100%;
	width: 18%;
}

.chunk-o-text {
	margin-bottom: 30px;
}

.movie-info {
	color: white;
	margin: 2rem;
}

.movie-info h3 {
	margin-top: 1rem;
	margin-bottom: .5rem;
	color: var(--faintred);
}

.movie-info h1 {
	margin-bottom: 1rem;
	color: var(--yellow);
}

.movie-info button

/*Buttons for previous searches*/
	{
	width: 10vh;
	height: 3vh;
	border: var(--faintred);
	border-radius: 30px;
	display: inline-block;
	color: white;
	background-color: var(--faintred);
	margin: 1vh;
}

/*Adjusting the Results container*/

.results-container {
	display: flex;
	flex-wrap: wrap;
	margin: 30px;
	margin-top: 45px;
	margin-left: 25%;
	max-width: 90%;
	max-height: 45vw;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}

.result-item {
	background-color: #ffffff32;
	/* background-image: url(/Assets/twilight.jpg); */
	filter: grayscale(50%) opacity(90%);
	background-size: 100%;
	background-position: center;
	box-shadow: 0 0 10px 1px rgba(19, 19, 19, 0.533);
	margin: 10px;
	border-radius: 10px;
	width: 20%;
	min-width: 20%;
	/*height: 38vh;*/
}

img {
	width: 100%;
}

.result-item:hover {
	transition: 0.5s;
	box-shadow: 0 0 10px 2px rgba(19, 19, 19, 0.733);
	scale: 1.025;
	filter: none;
}

.result-item:active {
	filter: none;
	box-shadow: 0 0 10px 2px rgba(19, 19, 19, 0.5);
	filter: opacity(90%);
}

.description {
	padding: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
	color: white;
	position: relative;
	top: 75%;
}

h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}

p {
	margin-top: 5px;
	top: 75%;
}

.results-container-hidden {
	display: none;
}

/*-----------------------------------------------Responsive CSS-------------------------------------------*/
/*------------------------------------------Making all media Queries--------------------------------------*/
@media screen and (max-width: 800px) {
	/*------------------------------------------Results Page--------------------------------------*/
	aside{
	  width: 100%;
	  height: 50vh;
	  display: block;
	  position: absolute;
	}
	.results-container{
		width: 100vw;
		margin-top: 80vh;
		flex-direction: row;
		flex-wrap: wrap;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 20px;
		margin-top: 60vh;
	}
	.result-item{
		align-items: center;
		width: 100%;
		padding-top: 0%;
	}

	.aside-header{
		text-align: center;
	}
	.saved-search{
		margin: auto;
		width: 40vw;
	}
	.start-over-btn{
		width: 40vw;
	}
	.current-filters{
		width: 60vw;
		text-align: center;
		margin: auto;
	}
  }